@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: "Poppins",sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: #3498DB;
}
img{
  width: 200px;
  height: 200px;
  object-fit: cover;
}
#app{
  
  width: 100%;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h3{
  font-size: 1.5em;
  margin-right: 160px;
  color:#f4f4f4;
}
#app input{
  border:none;
  padding-left: 10px;
  width: 300px;
  height: 40px;
  font-size: 1em;
  color:#34495E;
  font-weight: 600;
}
#app input:focus{
  outline: none;
  border: 1px solid #34495E;
}
#app a{
  text-decoration: none;
  cursor: pointer;
  border: none;
  color:#f4f4f4;
  background-color: #1ABC9C;
  width:80px;
  padding: 9px 10px;
}
.options_cont{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.options{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.option{
  text-decoration: none;
  color:#f4f4f4;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.option span{
  font-size: 18px;
}
